
/* 12 * 60 + 12 * 20 = 960px wide.*/
/*  60/960 = 0.0625 */
/* 20/960 = 0.02083333333 */
/* 320px * 6.25% = 20px */

.row {
  max-width: 60em; /* 960px */
  padding-left: 1.250em; /* 20px */
  padding-right: 1.250em; /* 20px */
  margin: 0 auto;
}
/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}
.row::after {
  clear: both;
}
.col-3, .col-4, .col-6, .col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}
/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}
.card {
  border: 1px solid lightgrey;
  margin-bottom: 1.5em;
  display: inline-block;
}
/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    min-width: 25%;
    float: left;
  }
  .col-6 {
    min-width: 50%;
    float: left;
  }
}
@media (min-width: 780px) {


  /* 4 columns */
  .col-4 {
    min-width: 33.33%;
    float: left;
  }

  /* 6 columns */


  /* 12 columns */
  .col-12 {
  }
}
